<div class="list-group" *ngFor="let booking of bookings">
  <div class="list-group-item mb-2" aria-current="true">
    <!--routerLink ist hier um die daten einzupassen fals die falsch sind     routerLink="/edit/{{ booking.id }}"-->
    <div class="d-flex w-100 justify-content-between">
      <a
        routerLink="/edit/{{ booking.id }}"
        class="mb-1 h5 text-decoration-none"
      >
        {{ booking.name }}
      </a>
      <button
        (click)="deleteBooking(booking)"
        class="btn btn-danger"
        type="button"
      >
        Delet
      </button>
      <!-- <small>{{ booking.id }}</small> -->
    </div>
    <p class="mb-1">
      Von:
      {{ booking.startDate | date: "dd/MM/yy" }} - Bis:
      {{ booking.endDate | date: "dd/MM/yy" }}
    </p>
    <small>Room Nr: {{ booking.roomNumber }}</small>
  </div>
</div>

<!--

    ( Pipes heisst der Syntax )
     {{ booking.startDate | date: "dd/MM/yy" }}.
     Datum Formatierung
     MM: muss gross sein beim Monat sonst ist es Sekunden.



    ( Schleife in Angular )
    booking für jedes Element booking
    bookings ist meine Liste
    *ngFor="let booking of bookings"


-->
