<div class="card bg-dark text-light">
  <div class="card-header">
    <h3 class="text-success">Create New Booking</h3>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="save()">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col">
          <!--id-->
          <label class="form-label">ID:</label>
          <input
            formControlName="id"
            type="number"
            class="form-control"
            name="id"
          />
        </div>
        <div class="col">
          <!--roomnumber-->
          <label class="form-label">Room Nr:</label>
          <input
            formControlName="roomNumber"
            type="number"
            class="form-control"
            name="roomNumber"
          />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-4">
          <!--name-->
          <label class="form-label">Guest Name:</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            name="name"
          />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-4">
          <div
            *ngIf="bookingForm.get('name')?.hasError('minlength')"
            class="alert alert-warning"
          >
            Der Name ist zu kurz
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!--startdate-->
          <label class="form-label">Start Date:</label>
          <input
            formControlName="startDate"
            [value]="booking.startDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, true)"
            type="date"
            class="form-control"
          />
        </div>
        <div class="col">
          <!--enddate-->
          <label class="form-label">End Date:</label>
          <input
            formControlName="endDate"
            [value]="booking.endDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, false)"
            type="date"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        [disabled]="bookingForm.invalid"
        type="submit"
        class="btn btn-success"
      >
        Speichern
      </button>
    </div>
  </form>
</div>

<!--
    two-way data binding syntax:
    was macht es ? empfengt value von form und sendet auch an komponent
    [(ngModel)] = 'booking.id'  für booking.id steht  damit kannst du quasi an frontend anzeigen als component was eingetragen wird das wert


    // das Datum value hollen und überschreiben
       [value]="booking.startDate | date: 'yyyy-MM-dd'"
    
  [formGroup]="bookingForm": dadurch ist jetzt mit der ts component create verbunden
  formControlName="id": bindung mit id was hier in bookingform ist
      [disabled]="bookingForm.invalid": so lange bis nicht alles aus gefüllt ist bleibt der button disabled
-->
